.formContainer {
    max-width: 500px;
    margin-top: 4%;
    margin-left: 2%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
    margin-bottom: 15px;
}
.formText{
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
.formLabel {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.formInput:focus {
    border-color: #4caf50;
    outline: none;
}

.formButton {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formButton:hover {
    background-color: #45a049;
}
