.heading{
    font-size: 32px;
    font-weight: bold;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}
.button {
    width: 20%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}